{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}


{% block body %}

<!-- INICIO BANNER -->
<section class="g-mt-130 g-pt-50">
  <img src=" {{ asset('assets/img/banner/banner-interior-blog.jpg') }}" class="img-fluid" alt="Responsive image">

</section>
<!-- FIN BANNER -->

<div class="row">
<div class="col-md-4 g-pb-20 g-px-100" style="background:#E6E6E6">
<p class="g-pt-40 g-font-size-26">RECIENTES</p>
<div class="g-font-size-18" style="border-bottom:1px #333 solid">
<a href="#"><strong>Aclara tus dudas para hacer factoring</strong><p>28 Frebrero 2020</p></a>
</div>
<div class="g-font-size-18" style="border-bottom:1px #333 solid">
<a href="#"><strong>E-commerce: camino de expansión para las PYMES</strong><p>11 Frebrero 2020</p></a>
</div>
<div class="g-font-size-18" style="border-bottom:1px #333 solid">
<a href="#"><strong>Aclara tus dudas para hacer factoring</strong><p>28 Frebrero 2020</p></a>
</div>
<div class="g-font-size-18" style="border-bottom:1px #333 solid">
<a href="#"><strong>Aclara tus dudas para hacer factoring</strong><p>28 Frebrero 2020</p></a>
</div>
</div>
<div class="col-md-6 g-py-20">
<p style="font-weight:400"><i style="color:#C12A21" class="fa fa-square" aria-hidden="true"></i> 11 FEB 2020 | POR INTERFACTOR</p>
<p class="g-py-20"> El comercio electrónico es un método de compraventa de bienes, productos o servicios valiéndose de internet como medio; es decir, comercializar de manera online. <br><br>

Chile es un país con buena receptividad hacia las tecnologías, y las PYMES están llamadas a adaptar sus modelos comerciales para seguir creciendo. De acuerdo con estudios de la Comisión Europea, “las PYMES que deciden adoptar nuevas tecnologías pueden aumentar sus ingresos en 22%, a diferencia de las que no lo hacen”.<br><br>

No hay duda que actualmente las tecnologías de información son el motor de las empresas y la base para su desarrollo. Una PYME debe tener claro cuál es el objetivo de negocio y cómo la implementación de tecnología puede ayudar a optimizar sus recursos y procesos. Es fundamental tener claro que esta inversión llevará al éxito solo si se tiene definido qué hacer y lo que se quiere lograr.<br><br>

La incorporación del e-commerce en las pequeñas y medianas empresas representa una serie de ventajas donde se debe decidir las variables de logística, catálogo de productos, plataforma tecnológica y medios de pago. Para esto es importante buscar apoyo especializado que asesore en las decisiones que se deben tomar, cuidando siempre la imagen amigable del sitio y el servicio postventa para potenciar cada transacción. <br>  <br>  

<strong>Ventajas para las PYMES</strong><br>
A pesar de que este paso requiere ciertos procesos mínimos dentro del negocio, los aspectos de entrada disminuyen a medida en que la PYME esté dispuesta a un plan de desarrollo en comercio electrónico que avance de forma escalonada, obteniendo como resultado las siguientes ventajas:<br><br>

• Ampliar el número de clientes. A diferencia de la tienda física donde hay limitaciones de espacio y cobertura.<br>
• Disminución de costos en punto de venta físico al invertir en un plan de crecimiento.<br>
• Mayores opciones de pagos al agregar la posibilidad de cobrar de forma eficiente con tarjetas de crédito-débito o transferencias bancarias.<br>
• Oportunidad de ingresar en el mercado más amplio y competir con empresas grandes disminuyendo costos de ventas.  <br><br>

<strong>¿Cómo empezar?</strong><br>

La mejor forma de explorar la demanda de productos de tu PYME antes de dar el paso hacia un e-commerce es realizar acciones en redes sociales, por ejemplo Facebook Marketplace o Instagram; aunque no tienen botón de pago, el comportamiento permite estimar los volúmenes de venta de acuerdo a las interacciones o solicitudes que tienen con lo que ofreces. <br><br>

El Ministerio de Economía planea continuar este año 2020 con la gira “Atrévete Digital” que llama a las PYMES a ver el e-commerce como una oportunidad ante la contingencia nacional, y guiarlos en este proceso para que puedan reinventarse y elevar sus ventas. Más información: <a href="https://bit.ly/2GZXntZ">https://bit.ly/2GZXntZ</a><br><br>

Para mantenerte al tanto de la actualidad económica y saber más de operaciones financieras que ayuden a tu PYME, síguenos en nuestras redes sociales: Interfactor, @interfactor_chile <br>




</div>
</div>





{% endblock %}
{% block javascripts  %}
{{ parent() }}
{% endblock %}