{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}


{% block body %}

 <!-- INICIO BANNER -->
  <section class="g-mt-130 g-py-50">
        <img src=" {{ asset('assets/img/banner/banner-sucursales-1.jpg') }}" class="img-fluid imgbanner" alt="Responsive image">
        <div class="cuadro g-hidden-md-down" data-animation="bounceInLeft" data-animation-delay="0" data-animation-duration="1000">
       <div style="padding:28px"> 
       <p class="titulo-cuadro blanco">SUCURSALES</p>
        <strong class="blanco"></strong>
        </div>
        </div>

  </section>
    <!-- FIN BANNER -->


{% endblock %}
{% block javascripts  %}
{{ parent() }}
{% endblock %}