{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}


{% block body %}

 <!-- INICIO BANNER -->
  <section class="g-mt-130 g-py-1">
        <img src=" {{ asset('assets/img/banner/banner-sucursales-1.jpg') }}" class="img-fluid imgbanner" alt="Responsive image">
        <div class="cuadro g-hidden-md-down" data-animation="bounceInLeft" data-animation-delay="0" data-animation-duration="1000">
       <div style="padding:28px"> 
       <p class="titulo-cuadro blanco">SUCURSALES</p>
        <strong class="blanco"></strong>
        </div>
        </div>

  </section>
    <!-- FIN BANNER -->
    <div class="container sucursales-w g-mt-2 g-py-130">
      <div class="row">
          <div class="col-md-6 offset-md-4 g-pb-20">
              <div class="select_region">
                  <h2><label>REGIÓN</label></h2>
                  <select onchange="change()" id="select_id">
                      <option value="" selected="">Selecciona una región</option>
                                                  <option value="1">I de Tarapacá</option>
                                                  <option value="2">II de Antofagasta</option>
                                                  <option value="3">III de Atacama</option>
                                                  <option value="4">IV de Coquimbo</option>
                                                  <option value="5">V de Valparaíso</option>
                                                  <option value="6">VI del Libertador General Bernardo O’Higgins</option>
                                                  <option value="7">VII del Maule</option>
                                                  <option value="8">VIII de Concepción</option>
                                                  <option value="9">IX de la Araucanía</option>
                                                  <option value="10">X de Los Lagos</option>
                                                  <option value="11">XI de Aysén del General Carlos Ibañez del Campo</option>
                                                  <option value="12">XII de Magallanes y de la Antártica Chilena</option>
                                                  <option value="13">Metropolitana de Santiago</option>
                                          </select>

              </div>
            </div>
      </div>
      </div>



{% endblock %}
{% block javascripts  %}
{{ parent() }}
{% endblock %}