/* Add here all your css styles (customizations) */
body { 
    font-size: 15px;
}


@media (min-width: 1025px) and (max-width: 1440px){
    .col-xl-2 {
        max-width: 14.285%;
     }
}
.logo{
    width: 100%;
margin: 0 0 0 45%
}
::selection {
    background-color: #C12A21;
}

a {cursor: pointer;}

a:hover {color:#C12A21!important ;}

p {
    font-weight: 300;
}
.g-color-primary--hover:hover {color:#C12A21!important ;}

.g-color-primary {color:#C12A21!important}


.u-accordion-color-primary .u-accordion__header [aria-expanded="true"] {
    color:#C12A21!important
}
.row {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.bg-gray {
    background-color: #CCCCCC;
    color:#808080
}

.u-btn-red {
    background-color: #C12A21;
}

.u-btn-red:hover {
    background-color: #C12A21;
    color:#fff !important;
}
.u-btn-bluegray {background:#485463!important; color:#fff!important;}

.u-btn-bluegray:hover {color:#fff !important;}

.separadores-rojos {
    border-right: 3px #C12A21 solid;
}
.separadores-rojos2 {
    border-right: 3px #C12A21 solid;
}

.separadores-gris {
border-right: 3px #485463 solid; 
font-weight: 400; 
color:#485463;
}
.separadores-blancos {
    border-right: 2px #fff solid; 
    font-weight: 400; 
    color:#fff;
    }

.footer-acceso {
    background-color: #384351; color:#ffffff; padding: 42px 0;
}

.footer-soporte {
    background-color: #485463; color:#ffffff; padding: 20px 10px 20px 18px;
}
.footer-soporte2 {
    background-color: #485463;
    color: #ffffff;
    padding: 20px 10px 20px 34px;
}


.footer-soporte a , .footer-soporte2 a{
    color:#fff;
}
.footer-soporte a:hover{
    color:#C12A21
}

.footer-borde {border-right:1px #fff solid}

.footer-social {
    width: 30px;
    height: 30px;
    margin: 40px 0px;
}

#inputGroup1_1, #inputGroup2_1 {
    background: #E6E6E6;
}

.btn-primary {
    background-color: #C12A21;
    border:1px solid #fff;
}
.btn-primary:hover {
    background-color: #C12A21;
    border:1px solid #fff;
}

label {font-weight: 300;}

.card-block {background:#E6E6E6;}
.card-body {background:#E6E6E6;}

.accordion>.card>.card-header {background:#E6E6E6;}

.fecha-blog {
    position: absolute;
    top: 10px;
    left: 30px;
}

.titulo-blog{
    position: absolute;
    bottom:100px;
    LEFT: 30px;
    font-weight: 300;
    font-size: 20px;
    padding: 0px 105px 0 0;
}

.titulo-single-post{
    position: absolute;
    top: 300px;
    left: 490px;
    font-size: 2.14286rem;
    font-weight: 300;
    padding: 0px 105px 0 0; 
}

.u-pagination-v1-4--active { 
    background-color: #C12A21;
    border-color:#fff;
    
}
.u-pagination-v1-4--active:hover { 
color:#fff !important;
border-color:#fff;
}
.u-pagination-v1__item{
    border: solid 1px #C12A21;
}
.u-pagination-v1__item:hover{
    border: solid 1px #C12A21;
}

li {
    color:red;
}

.faq {
    color:#4D4D4D;
    font-weight: 300;;
}

.blanco {color:#fff}

.cuadro {position: absolute;
    width: 268px;
    height: 186px;
    top: 180px;
    left: 210px;
    background: #C12A21;
    mix-blend-mode: hard-light;
    z-index: 99;}

    .padding-cuadro {padding: 28px;}
.titulo-cuadro {font-size:32px; line-height:35px}

.dropdown-item {color:#fff}
.dropdown-item:hover {color:#B3B3B3 !important}

.cotiza { min-width: 110.7px; max-width: 110.7px; background-color: #808080;}

.dropdown-divider{margin: 0rem 1rem;}    



@media (max-width: 991px) {
    .separadores-rojos, .separadores-gris, .footer-borde {
        border-right: none;
      }
      .separadores-rojos2{
        margin: 0 10px;
      }

      .titulo-blog{
        top: 250px;
    }
    .titulo-single-post{
        top: 275px !important;
        font-size:1.14286rem;
        left: 335px !important;
    }

    .recientes {display: none;}
  }



  @media (max-width: 1280px) {

    .cuadro {
             height: 165px;
    }
    .padding-cuadro {padding: 14px 28px}

  .titulo-blog{
    bottom: 126px;
    font-size: 18px;    
    }
    .titulo-single-post{
        top: 300px;
        left: 435px ;
    }
    .footer-soporte {
        background-color: #485463;
        color: #ffffff;
        padding: 20px 10px 20px 14px;
    }
    .footer-soporte2 {
        background-color: #485463;
        color: #ffffff;
        padding: 20px 10px 20px 34px;
    }    .logo{
        width: 100%;
    margin: 0 0 0 45%
    }
    
  }
  @media (max-width: 1024px) {

    .cuadro {
        top: 180px;
        height: 132px;
    }
    .titulo-cuadro {
        font-size: 30px;
        line-height: 31px;
        margin-bottom: 5px;
    }
    .padding-cuadro {
        padding: 10px 28px;
    }

    .titulo-single-post{
        top: 220px;
        left: 350px;
    }
    .titulo-blog{
        bottom: 155px;
        font-size: 12px;
    }
    .footer-borde {
        border-right: 0px #fff solid;
    }
    .logo{
        width: 100%;
    margin: 0 0 0 12%
    }
   

  }
  @media (max-width: 768px) {
  .titulo-single-post{
    top: 220px !important;
    left: 270px !important;
  }
  .titulo-blog {
    bottom: 0 !important;
    font-size: 12px !important;
    top:70px !important;
    padding: 0 25px 0 0 ;
    left:20px;
}
.cuadro {
    top: 180px;
    left: 0;
    height: 265px;
    width: 35%;
    margin: 20px;
}
.titulo-cuadro {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
.blanco {
    color: #fff;
}

}
  

  @media (max-width: 425px) {
    .imgbanner {
        margin-top: 5%;
    } 
    .logo{
        width: 70%;
    
    }
    .titulo-single-post {
        top: 160px !important;
        font-size: 0.9rem;
        left: 36% !important;
        padding: 0px 105px 0 0; 
}
    
    .titulo-blog{
        bottom: 0px !important;
        font-size: 18px !important;
        top:225px !important;
        }
        .cotizar {
            font-size: 0.875rem;
            padding: 7px 9px;
        }

        .acceso {
            font-size:0.875rem
        }
        .online {
            font-size:0.8755rem
        }
        .cuadro {
            top: 200px;
            left: 0;
            height: 178px;
            width: 50%;
            margin: 0;
        }
        .titulo-cuadro {
            font-size: 30px !important;
            line-height: 29px;
            margin-bottom: 20px;
        }
        .blanco {
            color: #fff;
            font-size: 15px;
        }
}
@media (max-width: 375px) {
    .logo{
        width: 70%;
    }
    .titulo-single-post {
        top: 193px !important;
        font-size: 0.8rem;
        left: 36% !important;
        font-weight: 400;
        padding: 0px 70px 0 0; 
    }
    .titulo-blog{
        font-size: 18px !important;    
        top:180px !important;
        }
        .imgbanner {
            margin-top: 1%;
        } 
        .separadores-blancos {
            border-right: 1px #fff solid; 
            font-weight: 400; 
            color:#fff;
            }

            .cotizar {
                font-size: 0.75rem;
                padding: 7px 9px;
            }

            .acceso {
                font-size:0.75rem
            }
            .online {
                font-size:0.75rem
            }
            .cuadro {
                top: 183px;
                left: 0;
                height: 157px;
                width: 50%;
                margin: 0;
            }
                        
            .titulo-cuadro {
                font-size: 27px !important;
                line-height: 26px;
                margin-bottom: 5px;
            }
            .blanco {
                color: #fff;
                font-size: 12px;
            }
}
@media (max-width: 360px) {
    .cuadro {
    top: 188px;
    left: 0;
    height: 145px;
    width: 50%;
    margin: 0;
}
    .titulo-cuadro {
        font-size: 23px !important;
        line-height: 22px;
        margin-bottom: 5px;
    }
    .blanco {
        color: #fff;
        font-size: 11px;
    }
}
@media (max-width: 320px) {
    .logo{
        width: 70%;
    }
    .titulo-single-post {
        top: 200px !important;
        font-size: 0.8rem;
        left: 36% !important;
        padding: 0px 70px 0 0; 
    }
    .titulo-blog{
        bottom: 0px !important;
        font-size: 14px !important;    
        top:145px !important;
        }
        .imgbanner {
            margin-top: 5%;
        } 
        .top-font {
            font-size: 12px;
        }
        .separadores-blancos {
            border-right: 1px #fff solid; 
            font-weight: 400; 
            color:#fff;
            }

            .cotizar {font-size: 0.625rem;
                padding: 7px 5px;
            }

            .acceso {
                font-size:0.563rem;
            }
            .online {
                font-size:0.625rem
            }
            .cuadro {
                top: 195px;
    left: 0;
    height: 134px;
    width: 50%;
    margin: 0;
            }
            .blanco {
                color: #fff;
                font-size: 14px;
            }
            .titulo-cuadro {
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 5px;
            }
}

