<!-- INICIO FOOTER -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 col-md-6 text-center footer-acceso" > <a href="/ejecutivos">ACCESO EJECUTIVOS</a></div>
    <div class="col-xl-2 col-md-6 text-left footer-soporte" > <div class="footer-borde"><strong>MESA CENTRAL</strong><br><span style="font-weight: 300;"><a href="tel:+56226549001">2 2654 9001</a><br><a href="mailto:info@interfactor.cl">info@interfactor.cl</a></span></div></div>
    <div class="col-xl-2 col-md-6 text-left footer-soporte"> <div class="footer-borde"><strong>SOPORTE COMERCIAL</strong><br><span style="font-weight: 300;"><a href="tel:+56226549080">2 2654 9080</a><br><a href="mailto:soportecomercial@interfactor.cl">soportecomercial@interfactor.cl</a></span></div></div>
    <div class="col-xl-2 col-md-6 text-left footer-soporte"> <div class="footer-borde"><strong>SOPORTE TÉCNICO</strong><br><span style="font-weight: 300;"><a href="tel:+56226753227">2 2675 3227</a><br><a href="mailto:mesadeayuda@interfactor.cl">mesadeayuda@interfactor.cl</a></span></div></div>
    <div class="col-xl-2 col-md-6 text-left footer-soporte"> <strong>CASA MATIZ</strong><br><span style="font-weight: 300;"><a href="https://goo.gl/maps/ZNCRbQCUYNfAc9bN9">Avda. Ricardo Lyon 222, piso 4 Providencia, Santiago</a><br></span></div>
    <div class="col-xl-2 col-md-6 text-center" style="background:#CCCCCC;"> 
    <a class="u-icon-v2 g-rounded-10 g-mr-15 g-mb-20 footer-social" href="#">
  <i class="fa fa-facebook"></i>
</a>

<a class="u-icon-v2 g-rounded-10  g-mr-15 g-mb-20 footer-social" href="#">
  <i class="fa fa-instagram"></i>
</a>

<a class="u-icon-v2 g-rounded-10  g-mr-15 g-mb-20 footer-social " href="#">
  <i class="fa fa-linkedin"></i>
</a>

</div>  

</div>

<!-- FIN FOOTER -->